.App {
  text-align: center;
  border: solid 2px red;
  justify-content: center;
}

.cards{
  display: flex;
  justify-content: space-evenly;
}

.Pokemon{
  border:solid 2px black;
  border-radius: 10px;
  width: 200px;
  display: block;
  justify-content: center;
  margin: 10px;
}

.PokemnonImage{
  height: 100px
}

.Water{
  background:lightblue;
}

.Fire{
  background:lightsalmon;
}

.Grass{
  background:lightgreen;
}

.Electric{
  background:lightyellow;
}

.Trainer{
  border:solid 2px black;
  border-radius: 10px;
  width: 200px;
  display: block;
  justify-content: center;
  background-color: lightgray;
  margin: 10px;
}

.TrainerImage{
  height: 150px
}

.PokemonIcons{
  height: 40px
}