.App {
  text-align: center;
  /* border: solid 2px red; */
  justify-content: center;
}

img.TrainerImage {
  cursor: pointer;
}

header {
  background: #b2ad7f;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-top-style: ridge;
  border-bottom-style: ridge;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.Pokemon {
  border: solid 2px black;
  border-radius: 5px;
  width: 150px;
  display: inline-block;
  justify-content: center;
  margin: 10px;
  height: 175px;
}

.PokemonImage {
  height: 65px;
}

.water {
  background: #6890f0;
}

.fire {
  background: #f08030;
}

.grass {
  background: #78c850;
}

.electric {
  background: #f8d030;
}

.rock {
  background: #b8a038;
}

.ground {
  background: #e0c068;
}

.poison {
  background: #a040a0;
}

.psychic {
  background: #f85888;
}

.ghost {
  background: #705898;
}

.dragon {
  background: #7038f8;
}

.normal {
  background: #a8a878;
}

.bug {
  background: #a8b820;
}

.Trainer {
  border: solid 2px black;
  border-radius: 10px;
  width: 150px;
  display: inline-block;
  justify-content: center;
  background-color: lightgray;
  margin: 10px;
}

.TrainerImage {
  height: 200px;
}

.PokemonIcons {
  height: 40px;
}

p {
  margin: 5px;
  font-size: small;
}

h3 {
  margin: 5px;
}

.player-and-poke {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
