.App {
  text-align: center;
  /* border: solid 2px red; */
  justify-content: center;
}

header {
  background: #b2ad7f;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-top-style: ridge;
  border-bottom-style: ridge;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.Pokemon {
  border: solid 2px black;
  border-radius: 10px;
  width: 200px;
  display: inline-block;
  justify-content: center;
  margin: 10px;
}

.PokemnonImage {
  height: 100px;
}

.Water {
  background: lightblue;
}

.Fire {
  background: lightsalmon;
}

.Grass {
  background: lightgreen;
}

.Electric {
  background: #feb236;
}

.Trainer {
  border: solid 2px black;
  border-radius: 10px;
  width: 200px;
  display: inline-block;
  justify-content: center;
  background-color: lightgray;
  margin: 10px;
}

.TrainerImage {
  height: 300px;
}

.PokemonIcons {
  height: 40px;
}
